<head>
    <style>
        
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
    </style>
</head>

{% extends 'base.html' %}

{% block content %}
<h1> Sensor readings </h1>

<ul id="demo1"></ul>
<ul id="demo2"></ul>
<ul id="demo3"></ul>

<form action="iot/" method="post">
    {% csrf_token %}
<button class="button" onclick="fetchData()"> Refresh </button>
</form>

<script type="text/javascript">
    function fetchData() {
        var x = JSON.parse('{{temp}}');
        var y = JSON.parse('{{humidity}}');
        var z = JSON.parse('{{soil_moisture}}');
        console.log(x,y,z);
        document.getElementById("demo1").innerHTML = "Temp = "+x;
        document.getElementById("demo2").innerHTML = "Humidity = "+y;
        document.getElementById("demo3").innerHTML = "Soil Moisture = "+z;
      }
    fetchData();

</script>



{% endblock %}

