<head>
    <title>
      IoT Dash-board
    </title>
    <style>
        
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .container {
    height: 20px;
    position: relative;
  }
  .center{
    position: absolute;
    top: 10px;
    left: 725px;
    
    
  }
    </style>
</head>

<body>
  <h1 style="color:rgb(55, 75, 255); text-align: center;" > Sensor Readings: </h1>

  <ul style="text-align: center; font-size:30px;" id="demo1"></ul>
  <ul style="text-align: center; font-size:30px;" id="demo2"></ul>
  <ul style="text-align: center; font-size:30px;" id="demo3"></ul>

    <div style="text-align: center; margin: auto;">
      <form action="/iot/" >
        <button  class="button" onclick="fetchData()"> Refresh </button>
      </form>
      <input class="button" value="Surveillance Camera" onclick= "window.open('http://proxy60.rt3.io:32733/index.html')" />
    </div>
    
  <!-- <div>
    <button onclick="myFunction()">Surveillance Camera</button>

    <script>
      function myFunction() {
      location.replace("http://192.168.29.5:8000/index.html")
      }
    </script>
  </div> -->

</body>
<script type="text/javascript">
    function fetchData() {
        var x = JSON.parse('{{temp}}');
        var y = JSON.parse('{{humidity}}');
        var z = JSON.parse('{{soil_moisture}}');
        console.log(x,y,z);
        document.getElementById("demo1").innerHTML = "Temp = "+x;
        document.getElementById("demo2").innerHTML = "Humidity = "+y;
        document.getElementById("demo3").innerHTML = "Soil Moisture = "+z;
      }
    fetchData();

</script>



